body {
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    text-align: center;
    padding: 20px 0 10px; /* Ajustando o padding inferior */
    position: relative; /* Para posicionar a seta */
}

h1 {
    font-size: 2em;
    margin-bottom: 10px; /* Reduzindo a margem inferior */
}

.arrow-down {
    position: absolute;
    bottom: 10px; /* Posicionando a seta na parte inferior */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #fff;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 170px); /* Ajustando a altura dos produtos */
    padding: 10px; /* Reduzindo o padding */
    margin-top: 10px; /* Reduzindo a margem superior */
    margin-bottom: 10px; /* Reduzindo a margem inferior */
}

.product-info {
    width: 40%;
}

.product-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px; /* Reduzindo a margem inferior */
}

.product-info p {
    margin-bottom: 10px; /* Reduzindo a margem inferior */
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons img {
    width: 25px;
    height: 25px;
    padding-right: 10px;
}

.buttons a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.buttons a:hover {
    background-color: #555;
}

.product-image {
    width: 50%;
}

.product-image img {
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
